@page "/dashboard/activity"
@layout DashboardLayout

@using System.Security.Claims;
@using TCSA.V2.Components.Dashboard.Shared
@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using TCSA.V2.Services

<div class="mt-5">
    @if (Activities != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Activity</th>
                    <th scope="col" class="xp-cell">XPs Gained</th>
                    <th scope="col" class="xp-cell">Total XPs</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Activities)
                {
                    <tr class="activity-row">
                        <td class="date-cell @UserActivityHelper.GetRowStyle(item.ActivityType)">
                            <div>
                                <b>@DateTimeHelper.GetDateForUserActivity(item.DateSubmitted)</b>
                            </div>
                            <div class="day-of-the-week-cell">
                                <span class="day-of-the-week">@item.DateSubmitted.DayOfWeek</span>
                            </div>
                        </td>
                        <td class="activity-cell">@((MarkupString)(UserActivityHelper.GetDescription(item.ActivityType, item.ProjectId)))</td>
                        <td class="activity-cell xp-cell">@UserActivityHelper.GetXPs(item.ActivityType, item.ProjectId)</td>
                        <td class="activity-cell xp-cell">@CurrentXP</td>
                    </tr>
                    CurrentXP -= UserActivityHelper.GetXPs(item.ActivityType, item.ProjectId);
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Inject] private IUserService UserService { get; set; }
    [Inject] private IUserActivityService ActivityService { get; set; }
    [Inject] private AuthenticationStateProvider AuthenticationState { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private List<AppUserActivity>? Activities { get; set; } = null;
    private List<Article>? Articles;
    private List<Project>? Projects;
    private List<Issue>? Issues;
    private int CurrentXP;

    protected override async Task OnInitializedAsync()
    {
        var AuthSate = await AuthenticationState.GetAuthenticationStateAsync();

        if (!AuthSate.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("Account/Login");
        }

        Projects = ProjectHelper.GetProjects();
        Articles = ArticleHelper.GetArticles();
        //Issues = IssueHelper.GetIssues();

        var claims = AuthSate.User;
        var userId = claims.FindFirstValue(ClaimTypes.NameIdentifier);
        Activities = await ActivityService.GetActivityById(userId);
        Activities.ForEach(x =>
        {
            CurrentXP += UserActivityHelper.GetXPs(x.ActivityType, x.ProjectId);
        });
    }
}

<style>
    .article-read {
        color: white;
        background-color: green !important;
    }

    .project-submitted {
        background-color: gold !important;
    }

    .project-completed {
        background-color: navy !important;
        color: white;
    }

    .issue-submitted {
        background-color: orangered !important;
        color: white;
    }

    .review-completed {
        background-color: purple !important;
        color: white;
    }

    .modal-dialog {
        margin-top: 100px;
        max-width: 1000px;
    }

    .day-of-the-week {
        font-size: 14px;
    }

    .day-of-the-week-cell {
        margin-top: -5px;
    }

    .activity-cell {
        vertical-align: middle;
    }

    .xp-cell {
        vertical-align: middle;
        text-align: center;
        font-weight: 500;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 4px;
    }

    .date-cell {
        width: 20%;
        border: none;
    }

    .xp-cell {
        width: 10% !important;
    }

    td {
        border: none;
    }

    th {
        border: none;
    }

    .activity-row {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
        margin: 1px 0;
    }

</style>