@page "/gallery/{IsLightMode:bool}"
@rendermode InteractiveServer
@using TCSA.V2.Components.Gallery
@using TCSA.V2.Components.UI
@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Data
@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using TCSA.V2.Models.DTO
@using TCSA.V2.Models.Responses
@using TCSA.V2.Services
@using System.Security.Claims;
@using System.Linq;

<div class="container container-gallery mt-5 pt-3">
    <div class="row">
        <div class="col">
            @if (IsAdmin)
            {
                <button class="btn btn-warning d-md-inline-block btn-admin"
                        @onclick="SeedData"
                        type="button">
                    Seed Data
                </button>
            }
        </div>
    </div>

    @if (!string.IsNullOrEmpty(ResultMessage))
    {
        <CloseButtonSVG OnClickCallback="@DismissResultCard" />
        <ResultCard Message="@ResultMessage"
                    IsSuccess="@ResultCardStatus" />
    }
    <div class="row mb-2">
        <div class="col">
            @if(User != null && User.DashboardProjects.Any(x => x.IsCompleted))
            {
                <AuthorizeView>
                    <button class="btn btn-success d-md-inline-block btn-academy"
                            @onclick="ToggleAddForm"
                            type="button">
                        @(IsFormOpen ? "Back to Gallery" : "Add Project")
                    </button>
                </AuthorizeView>
            }
        </div>
    </div>
    <div class="row">
        @if (!IsFormOpen)
        {
            @if(PaginatedList != null && PaginatedList.TotalPages > 1)
            {
                <div class="col-sm-3">
                    <BlazorBootstrap.Pagination TotalPages="@PaginatedList.TotalPages" ActivePageNumber="@PageNumber"
                                                PageChanged="@OnPageChangedAsync"
                                                Class="custom-pagination" />
                </div>
            }
        }
    </div>
    <div class="row">
        @if (!IsFormOpen)
        {
            <div class="col-sm-3">
                <CategoryList OnClickCallback="@GetAreaItems"
                              SelectText="Filter By Area"
                              Areas="@Areas"
                              IsLightMode="@IsLightMode" />
            </div>
            @if (ProjectSelections.Any())
            {
                <div class="col-sm-3">
                    <select shadow rounded class="form-select" @onchange="HandleProjectSelection">
                        <option selected>Filter By Project</option>
                        @foreach (var project in ProjectSelections)
                        {
                            var currentProject = project;
                            <option value="@project.Id">@project.Area - @project.Title</option>
                        }
                    </select>
                </div>
            }
        }
    </div>
    @if (!IsFormOpen && PaginatedList != null)
    {
        if (IsLoading)
        {
            <LoadingSpinner />
        } 
        else
        {
            <div class="row @(!ItemsToShow.Any() ? LoadingContainer : VideoContainer)">
                @if (ItemsToShow.Any())
                {
                    foreach (var item in ItemsToShow)
                    {
                        <ShowcaseCard Item="@item"
                                      CurrentUserId="@CurrentUserId"
                                      IsUserOwner=@(item.ApplicationUserId == CurrentUserId)
                                      OnDelete=@(() => HandleDelete(item)) />
                    }
                }
                else
                {
                    <h2>No content...</h2>
                }
            </div>
        }
    }

    <AuthorizeView>
        @if (User is not null && IsFormOpen)
        {
            <div class="d-flex row flex-wrap mb-2">
                <ShowcaseItemForm CurrentUser="User"
                                  Projects="@Projects.Where(x => CompletedProjectsNotShowcased.Contains(x.Id))"
                                  IsLightMode=@IsLightMode
                                  OnAddNewItem="HandleAddNewItem"/>

            </div>
        }
    </AuthorizeView>

    <div class="row mt-5">
        <div class="col text-center">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4831088216810061"
                    crossorigin="anonymous"></script>
            <!-- tcsa-adsense-gallery -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4831088216810061"
                 data-ad-slot="3472697020"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsLightMode { get; set; }
    [Inject] private AuthenticationStateProvider AuthenticationState { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private IUserService UserService { get; set; }
    [Inject] private IProjectService ProjectService { get; set; }
    [Inject] private IGalleryService GalleryService { get; set; }
    [Inject] private IDataSeedService DataSeedService { get; set; }

    private List<string> ProjectlessAreas = new List<string> { "StandAlone", "FullStack", "StartApplying", "OpenSource", "HowItWorks", "StartHere", "SQL", "Azure" };
    private List<int> NonApplicableProjects = new List<int> { 75, 22, 23, 76, 77, 78, 47, 48, 49, 100000, 86 };
    private List<string> EnumAreas = Enum.GetNames(typeof(Area)).ToList();
    private List<string> Areas { get; set; }

    private ApplicationUser User;
    private string UserId;

    private IEnumerable<ShowcaseProjectInfo> Projects { get; set; }
    private IEnumerable<ShowcaseProjectInfo> ProjectSelections { get; set; } = [];
    private IEnumerable<ShowcaseItem> AllItems { get; set; } = [];
    private PaginatedList<ShowcaseItemDTO> PaginatedList { get; set; }
    private List<ShowcaseItemDTO> ItemsToShow { get; set; } = [];
    private List<int> ShowCaseProjectIds { get; set; } = new();
    private List<int> CompletedProjectsNotShowcased { get; set; } = new();

    private bool IsLoading = true;
    private bool IsFormOpen;
    private bool ResultCardStatus;
    private bool IsAdmin;
    private string CurrentUserId = "none";
    private string LoadingContainer = "container text-center";
    private string VideoContainer = "d-flex justify-content-center flex-wrap mt-2";
    private string ResultMessage;
    private string LoadingMessage = "Loading...";
    private int PageNumber = 1;

    protected async override Task OnInitializedAsync()
    {
        Areas = EnumAreas.Except(ProjectlessAreas).ToList();

        var AuthSate = await AuthenticationState.GetAuthenticationStateAsync();
        var claims = AuthSate.User;
        UserId = claims.FindFirstValue(ClaimTypes.NameIdentifier);
        IsAdmin = claims.FindFirstValue(ClaimTypes.Role) == "Admin";
        Projects = ProjectHelper.GetProjectInfos();

        await GetLists();

        IsLoading = false;
    }

    private async Task SeedData()
    {
        await DataSeedService.SeedShowCaseItems();
    }

    private async Task GetLists()
    {
        User = await UserService.GetUserByIdWithShowcaseItems(UserId);

        if (User is not null)
        {
            CurrentUserId = User.Id;

            CompletedProjectsNotShowcased = User.DashboardProjects
                .Where(dp => dp.IsCompleted && !User.ShowcaseItems.Any(si => si.DashboardProjectId == dp.Id))
                .Select(dp => dp.ProjectId)
                .Except(NonApplicableProjects)
                .ToList();
        }
        PaginatedList = await GalleryService.GetItems(PageNumber, ProjectSelections.Select(x => x.Id).ToList());
        ItemsToShow = PaginatedList.Items;
    }

    private async Task GetAreaItems(string area)
    {
        if (area == "All")
        {
            PageNumber = 1;
            ProjectSelections = [];
        }
        else
        {
            var areaEnum = Enum.Parse<Area>(area);
            ProjectSelections = Projects.Where(project => project.Area == areaEnum).ToList();
        }

        await GetLists();
    }

    private async Task HandleProjectSelection(ChangeEventArgs e)
    {
        int selectedProject = int.Parse(e.Value.ToString());
        var project = ProjectSelections.FirstOrDefault(x => x.Id == selectedProject);
        ProjectSelections = new List<ShowcaseProjectInfo>
        {
            project
        };

        PageNumber = 1;
        await GetLists();
    }

    private async Task HandleDelete(ShowcaseItemDTO itemToDelete)
    {
        IsLoading = true;
        var result = await GalleryService.DeleteItem(itemToDelete);

        if (result.Status == Models.Responses.ResponseStatus.Success)
        {
            ResultMessage = "Item deleted successfully ";
            ResultCardStatus = true;
            PageNumber = 1;
            ProjectSelections = [];
            await GetLists();
        }
        else
        {
            ResultMessage = "Failed to delete the item.";
            ResultCardStatus = false;
        }
        IsLoading = false;
    }

    private async Task HandleAddNewItem(BaseResponse response)
    {
        IsLoading = true;
        LoadingMessage = "Adding project...";
        if (response.Status == ResponseStatus.Success)
        {
            ResultMessage = "Project added successfully!";
            ResultCardStatus = true;
            PageNumber = 1;
            ProjectSelections = [];
            await GetLists();
        }
        else
        {
            ResultMessage = $"Failed to add project: {response.Message}";
            ResultCardStatus = false; 
        }

        IsLoading = false;
        LoadingMessage = "";
        IsFormOpen = false;
    }

    private async Task OnPageChangedAsync(int newPageNumber)
    {
        PageNumber = newPageNumber;
        PaginatedList = await GalleryService.GetItems(PageNumber, ProjectSelections.Select(x => x.Id).ToList());
        ItemsToShow = PaginatedList.Items;
    }

    private void ToggleAddForm()
    {
        IsFormOpen = !IsFormOpen;
        ResultMessage = "";
    }

    private void DismissResultCard() => ResultMessage = null;
}