@using TCSA.V2.Models
@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Models.DTO

<div class="col-sm-3 rounded-3">
    <div class="card m-1">
        <div class="video-paragraph d-flex justify-content-center embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="100%" height="auto" src="@Item.VideoUrl" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <div class="showcaseitem-metadata d-flex justify-content-between w-100">
                <p class="card-text showcaseitem-project">@Item.ProjectName</p>
                <p class="card-text showcaseitem-area">@Item.Area</p>
            </div>
            <div class="showcaseitem-metadata d-flex justify-content-between w-100 @(!isUserOwner ? "showcaseitem-correct-margin" : "")">
                <p class="card-text showcaseitem-username">@Item.Username</p>
                <AuthorizeView>
                    @if (isUserOwner)
                    {
                            <button type="button" class="btn btn-outline-secondary showcaseitem-delete-button" style="color:rebeccapurple;border:none" data-bs-toggle="modal" data-bs-target="#DeleteModal"><DeleteSvg /></button>
                    }
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This will delete selected video. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" style="color:rebeccapurple;border:none" @onclick="@HandleDelete" data-bs-dismiss="modal">Confirm delete</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ShowcaseItemDTO Item { get; set; }
    [Parameter]
    public string? CurrentUserId { get; set; }
    [Parameter]
    public EventCallback<ShowcaseItemDTO> OnDelete { get; set; }
    [Parameter]
    public EventCallback<ShowcaseItemDTO> OnGoldenChange { get; set; }

    private bool isUserOwner = false;

    protected override async Task OnInitializedAsync()
    {
        if (Item.ApplicationUserId == CurrentUserId)
            isUserOwner = true;
    }

    private async Task HandleDelete()
    {
        await OnDelete.InvokeAsync(Item);
    }
}

<style>
    .showcaseitem-correct-margin {
        margin-bottom: 7px !important;
    }

    .showcaseitem-username {
        font-weight: 600;
    }

    .showcaseitem-project {
        font-weight: 600;
        color: #1C236D
    }

    .showcaseitem-area {
        font-size: 16px;
        margin-top: 2px;
    }

    .showcaseitem-metadata {
        margin-bottom: -10px;
    }

    .showcaseitem-delete-button {
        margin-top: -10px;
        margin-bottom: 5px;
    }
 </style>