@using TCSA.V2.Models


<div class="card m-5 " style="width:600px">
    <div class="text-center mt-3">
        @((MarkupString)Item.Link)

    </div>
    <div class="card-body">
        <h5 class="card-title">@Item.UserName @Item.UserLastName</h5>
        <p class="card-text">@Item.ProjectName</p>
    </div>

    <AuthorizeView>
        @if (isUserOwner)
        {
            <div class="card-footer">
                <button type="button" class="btn btn-outline-secondary" @onclick="@HandleDelete"><DeleteSvg/></button>
            </div>

        }
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <div class="card-footer">

            <p>Admin section</p>
            <button type="button" class="btn btn-outline-secondary"><DeleteSvg /></button>
            <button>set golden project</button>
        </div>
    </AuthorizeView>

</div>

@code {
    [Parameter]
    public ShowcaseItem Item { get; set; }
    [Parameter]
    public string? CurrentUserId { get; set; }
    [Parameter]
    public EventCallback<ShowcaseItem> OnDelete { get; set; }

    private bool isUserOwner = false;

    protected override async Task OnInitializedAsync()
    {
        if (Item.ApplicationUserId == CurrentUserId)
            isUserOwner = true;
    }

    private async Task HandleDelete()
    {
       await OnDelete.InvokeAsync(Item);
    }


}
