@page "/gallery/{IsLightMode:bool}"
@rendermode InteractiveServer
@using TCSA.V2.Components.Gallery.Shared
@using TCSA.V2.Data
@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using TCSA.V2.Models.DTO
@using TCSA.V2.Services
@using System.Security.Claims;
@using System.Linq;

<div class="mt-5 pt-3">
    <nav class="top-menu navbar navbar-expand-lg mt-5">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#GallerynavbarSupportedContent" aria-controls="GallerynavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img width="50" src="https://css-tricks.com/wp-content/uploads/2012/10/threelines.png" />
            </button>
            <AuthorizeView>
                <button class="btn btn-outline-success d-none d-md-inline-block" @onclick="ToggleAddForm" type="button"><AddSvg /> Video</button>
            </AuthorizeView>

            <div class="collapse navbar-collapse ms-auto" id="GallerynavbarSupportedContent">

                <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                    <CategoryList OnClickCallback="@GetAreaItems" Areas="@Areas" IsLightMode="@IsLightMode" />

                    @if (ProjectSelections.Any())
                    {
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link dropdown-toggle" href="#" id="ProjectDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Project
                            </a>
                            <ul class="dropdown-menu @(IsLightMode ? "" : "dropdown-menu-dark")" aria-labelledby="ProjectDropdown">
                                @foreach (var project in ProjectSelections)
                                {
                                    var currentProject = project;

                                    <li> <button type="button" class="dropdown-item btn btn-sm" @onclick="()=>FilterItemsByProject(currentProject)">@currentProject.Title</button>  </li>
                                }
                            </ul>
                        </li>
                    }
                    <li>
                        <EditForm Model="@Search" OnSubmit="@ApplySearchFilter">
                            <input type="text" @bind="@searchText" placeholder="User name" aria-label="Search" />
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </EditForm>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <AuthorizeView>
        @if (User is not null && isFormOpen)
        {
            <div class="d-flex row flex-wrap">
                <ShowcaseItemForm CurrentUser="User" Areas="@Areas" Projects="@Projects" OnAddNewItem="@UpdateItemList" IsLightMode=@IsLightMode />

            </div>
        }
    </AuthorizeView>

    <div class=" @(!ItemsToShow.Any()?loadingContainer :videoContainer)">
        @if (ItemsToShow.Any())
        {
            foreach (var item in ItemsToShow)
            {
                var currentItem = item;
                <ShowcaseCard Item="@currentItem" CurrentUserId="@CurrentUserId" OnDelete="@HandleDelete" OnGoldenChange="@HandleGoldenChange" />
            }
        }
        else
        {
            if (isLoading)
            {
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
            else
            {
                <h2>No content...</h2>
            }
        }
    </div>
</div>


@code {
    [Parameter]
    public bool IsLightMode { get; set; }
    [Inject] private AuthenticationStateProvider AuthenticationState { get; set; }
    [Inject] private IUserService UserService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private IProjectService ProjectService { get; set; }
    [Inject] private IGalleryService _galleryService { get; set; }

    private List<string> ProjectlessAreas = new List<string> { "StandAlone", "FullStack", "StartApplying", "Open Source", "HowItWorks", "StartHere", "SQL" };
    private List<string> EnumAreas = Enum.GetNames(typeof(Area)).ToList();
    private List<string> Areas { get; set; }
    private ApplicationUser User;
    private string UserId;
    private IEnumerable<ShowcaseProjectInfo> Projects { get; set; }
    private IEnumerable<ShowcaseProjectInfo> ProjectSelections { get; set; } = [];
    private IEnumerable<ShowcaseItem> AllItems { get; set; } = [];
    private List<ShowcaseItem> ItemsToShow { get; set; } = [];
    private bool isLoading = true;
    private string CurrentUserId = "none";
    private string loadingContainer = "container text-center";
    private string videoContainer = "d-flex justify-content-center flex-wrap mt-5";
    private string searchText = string.Empty;
    private object Search = new() { };
    private bool isFormOpen;

    protected async override Task OnInitializedAsync()
    {
        Areas = EnumAreas.Except(ProjectlessAreas).ToList(); //Get areas which has projects

        //Get active user if authenticated
        var AuthSate = await AuthenticationState.GetAuthenticationStateAsync();
        var claims = AuthSate.User;
        UserId = claims.FindFirstValue(ClaimTypes.NameIdentifier);
        User = await UserService.GetUserById(UserId);

        if (User is not null)
        {
            CurrentUserId = User.Id;
        }

        //Get Short Project infos
        Projects = ProjectHelper.GetProjectInfos().AsQueryable();

        AllItems = await _galleryService.GetItems();
        ItemsToShow = AllItems.ToList();
        isLoading = false;
    }

    private async Task GetAreaItems(string area)
    {
        if (area == "All")
        {
            ProjectSelections = [];
            ItemsToShow = AllItems.ToList();
        }
        else
        {
            var areaEnum = Enum.Parse<Area>(area);
            ProjectSelections = Projects.Where(project => project.Area == areaEnum).ToList();
            ItemsToShow = AllItems.Where(project => project.Area == areaEnum).ToList();
        }
    }

    private async Task UpdateItemList(ShowcaseItem addedItem)
    {
        AllItems = AllItems.Append(addedItem);
        ItemsToShow = AllItems.ToList();
    }

    private async Task FilterItemsByProject(ShowcaseProjectInfo project)
    {
        ItemsToShow = AllItems.Where(i => i.ProjectId == project.Id).ToList();
    }

    private async Task ApplySearchFilter()
    {
        if (string.IsNullOrEmpty(searchText))
        {
            ItemsToShow = AllItems.ToList();
            ProjectSelections = [];
            return;
        }
        ItemsToShow = AllItems.Where(i => i.UserName.Contains(searchText)).ToList();
    }

    private async Task ToggleAddForm()
    {
        isFormOpen = !isFormOpen;
    }

    private async Task HandleDelete(ShowcaseItem itemToDelete)
    {
        try
        {
            await _galleryService.DeleteItem(itemToDelete);
            AllItems = AllItems.Where(i => i != itemToDelete);
            ItemsToShow = AllItems.ToList();
        }
        catch
        {
            return;
        }
    }

    private async Task HandleGoldenChange(ShowcaseItem updateItem)
    {
        try
        {
            await _galleryService.UpdateItem(updateItem);
        }
        catch
        {
            return;
        }
    }



}
