@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Models

<div class="row horizontal-card horizontal-card-desktop shadow rounded-sm @Status">
    <div class="row g-0">
        <div class="col-md-1">
            <img src="img/cards/@Issue.IconUrl" class="img-fluid card-img" alt="...">
        </div>
        <div class="col-lg-4">
            <p class="card-title-dashboard">@Issue.Description</p>
            <p class="project-card-text">@Issue.Type</p>
            <span class="experience-points-issue">
                <img src="img/experience.png" width="25" class="img-xp-header" alt="..." />
                @Issue.ExperiencePoints
            </span>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            @if (!IsAssigned)
            {
                <a href="@Issue.GithubUrl" target="_blank" class="btn community-btn">View Issue</a>
            } else
            {
                @if (!IsPendingReview)
                {
                    <ProjectAssignedSVG />
                }
            }
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-start">
            @if (!IsAssigned)
            {
                <button type="button" @onclick="OnAssignCallBack" target="_blank" class="btn community-btn">Assign Myself</button>
            } else
            {
                @if (!IsPendingReview)
                {
                        <button type="button" @onclick="OnSubmitPullRequestCallBack" target="_blank" class="btn community-btn">Submit PR</button>
                }
                else
                {
                    <PendingReviewSVG />
                }
            }
        </div>
    </div>
</div>

<div class="horizontal-card-mobile horizontal-card-mobile shadow rounded-3 @Status">
    <table>
        <tr>
            <th class="icon"><img src="img/@Issue.IconUrl" class="img-fluid card-img" alt="..."></th>
            <th class="text-th">
                <p class="card-title-dashboard">@Issue.Description</p>
                <p class="card-text"><small class="text-muted">@Title<a href="project/@Issue.">(View Project Page)</a></small></p>
            </th>
            <th class="button-th">
                <div class="col-sm-1 col-md-3 d-flex align-items-center">
                    <a href="@Issue.GithubUrl" target="_blank" class="btn btn-outline-secondary shadow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="%231C236D" class="bi bi-folder2-open" viewBox="0 0 16 16">
                            <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z" />
                        </svg>
                    </a>
                </div>
            </th>
        </tr>
    </table>
</div>

@code {
    [Parameter] public Issue Issue { get; set; }
    [Parameter] public string Status { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public bool IsAssigned { get; set; }
    [Parameter] public bool IsPendingReview { get; set; }
    [Parameter] public EventCallback OnAssignCallBack { get; set; }
    [Parameter] public EventCallback OnSubmitPullRequestCallBack { get; set; }
}

<style>
    .is-assigned {
        border: darkgoldenrod solid 1px;
    }

    .card-img-top {
        max-width: 50px !important;
    }

    .horizontal-card {
        border-radius: 15px;
        margin: 5px 0 !important;
        transition: all 200ms ease-in-out;
    }

    .card-title-dashboard {
        padding-left: 10px;
        font-size: 18px;
        font-family: Roboto;
        color: #1C236D;
        font-weight: 600;
    }

    .card-text {
        padding-left: 10px !important;
        margin-top: -15px !important;
    }

    .card-text-complete { 
        margin-bottom: -20px;
        font-size: 18px;
        color: green;
        font-weight: 600;
    }

    .card-text-incomplete {
        font-size: 18px;
        color: red;
    }

    .incomplete-project {
        max-width: 80px;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .community-btn {
        width: 150px;
        background-color: #1c236d;
        color: white;
    }

    .project-card-text {
        padding-left: 10px !important;
        margin-top: -15px !important;
        margin-bottom: -5px !important ;
        color: black !important;
        font-size: 15px;
    }

    .experience-points-issue {
        margin-top: -10px;
        font-weight: 600;
    }

</style>
