@using TCSA.V2.Components.UI
@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Helpers
@using TCSA.V2.Models

<HorizontalCard CardName="Console"
                IsComplete=true
                IconUrl="console-300x300.png"
                Description="Description Here"
                OnClickCallback="@ToggleSteps"
                HasButton=true />

@if (Steps)
{
    <div class="ps-3">
        <CloseButtonSVG OnClickCallback="@ToggleSteps" />
        <HorizontalCard IsComplete=true
                        CardName="Beginner"
                        IconUrl="icons8-mommy-and-me-classes-96.png"
                        Description="Description Here"
                        OnClickCallback="@ToggleBeginnerSteps" />

        <div class="ps-3">
            @if (BeginnerSteps)
            {
                <CloseButtonSVG OnClickCallback="@ToggleBeginnerSteps" />
                @foreach (var project in Projects.Where(x => x.Area == Area.Console && x.Difficulty == Difficulty.Beginner).OrderBy(x => x.DisplayOrder))
                {
                    <DashboardProjectCard Project="project"
                                          Status="completed" />
                }
            }
        </div>
        <HorizontalCard IsComplete=true
                        CardName="Intermediate"
                        Description="Description Here"
                        IconUrl="icons8-teenager-64.png"
                        OnClickCallback="@ToggleIntermediateSteps" />

        <div class="ps-3">
            @if (IntermediateSteps)
            {
                <CloseButtonSVG OnClickCallback="@ToggleIntermediateSteps" />
                @foreach (var project in Projects.Where(x => x.Area == Area.Console && x.Difficulty == Difficulty.Intermediate))
                {
                    <DashboardProjectCard Project="project"
                                          Status="completed" />
                }
            }
        </div>

        <HorizontalCard IsComplete=true
                        Description="Description Here"
                        CardName="Advanced"
                        IconUrl="icons8-executive-64.png"
                        OnClickCallback="@ToggleAdvancedSteps" />

        <div class="ps-3">
            @if (AdvancedSteps)
            {
                <CloseButtonSVG OnClickCallback="@ToggleAdvancedSteps" />
                @foreach (var project in Projects.Where(x => x.Area == Area.Console && x.Difficulty == Difficulty.Advanced))
                {
                    <DashboardProjectCard Project="project"
                                          Status="completed" />
                }
            }
        </div>
    </div>
}

@code {
    private List<Project> Projects;
    private bool Steps;
    private bool BeginnerSteps;
    private bool IntermediateSteps;
    private bool AdvancedSteps;

    protected async override Task OnInitializedAsync()
    {
        Projects = ProjectHelper.GetProjects();
    }

    private void ToggleSteps() => Steps = !Steps;
    private void ToggleBeginnerSteps() => BeginnerSteps = !BeginnerSteps;
    private void ToggleIntermediateSteps() => IntermediateSteps = !IntermediateSteps;
    private void ToggleAdvancedSteps() => AdvancedSteps = !AdvancedSteps;
}
